.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('../../images/bgps5.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}

.animationContainerStart {
  animation: appearFromTop 0.8s;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 360px;
  margin-bottom: 20%;
  z-index: 5;
}

.title {
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  text-align: center;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes kaboom {
  0% {
    transform: scale(1.1);
    opacity: 1;
  }
  14% {
    transform: scale(1);
    opacity: 0.8;
  }
  16% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes circleAnimation {
  0% {
    transform: scale(1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 0px 6px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
  }
  50% {
    transform: scale(2);
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: inset 0px 0px 6px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6);
  }
  100% {
    transform: scale(2);
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: inset 0px 0px 6px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6);
  }
}

.start {
  border: 0;
  position: relative;
  background-color: transparent;
}

.start .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: kaboom 4s ease-in-out infinite;
  height: 64px;
  width: 64px;
  background-color: #fff;
  border-radius: 50%;
}

.start .circle1 {
  position: absolute;
  animation: circleAnimation 4s infinite, appear 4s infinite;
  animation-delay: 1.6s;
  left: 0;
  top: 0;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.3);
}

.start .circle2 {
  position: absolute;
  animation: circleAnimation 4s infinite, appear 4s infinite;
  animation-delay: 0.8s;
  left: 0;
  top: 0;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
}

.start svg {
  height: 80%;
  width: 80%;
  flex-shrink: 0;
  padding: 2px;
  z-index: 2;
}

@media only screen and (max-height: 600px) {
  .content {
    height: 240px;
  }
}
